body {
    font-family: "Poppins", sans-serif;
}

img[src*="data:image/svg+xml"] {
    background-color: #aaa;
    border-radius: 4px;
}


.lazyload,
.lazyloading {
    opacity: 0.2;
}
.lazyloaded {
    animation: slide_up 0.3s forwards 1;
}
@keyframes slide_up {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}
