article.single-casestudy {

    .casetitleArea {
        text-align: center;

        h1.title {
            font-size: clamp(3rem, -0.2069rem + 5.1724vw, 6rem);
        }

        p {
            font-size: 20px;
            color: #BCC6D0;
        }
    }

    .casebannerArea {
        padding-top: 200px;
    }

    .caseContentArea {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-fill: auto;
        -moz-column-fill: auto;
        column-fill: unset;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
        padding: 10px;
        padding-top: 30px;

        h1, h2 , h3 {
            font-size: 42px;
            font-weight: 500;
            color: #00FBF4;
            margin-bottom: 30px;
        }

        li {
            color: #DADADA;
            margin-bottom: 10px;

            &:before {
                content: "";
                width: 13px;
                height: 13px;
                background: url("../icons/case-study-arrow.svg") no-repeat center;
                margin-right: 10px;
                display: inline-flex;
            }
        }

        .categoryArea {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background: #AD13F8;
            align-items: center;
            padding: 15px 30px;

            .clientL {
                display: flex;
                align-items: center;

                &:before {
                    content: "";
                    width: 21px;
                    height: 25px;
                    background: url("../icons/case-study-client.svg") no-repeat center;
                    margin-right: 10px;
                    display: inline-flex;
                }
            }

            .categoryL {
                display: flex;
                align-items: center;

                &:before {
                    content: "";
                    width: 25px;
                    height: 20px;
                    background: url("../icons/case-study-category.svg") no-repeat center;
                    margin-right: 10px;
                    display: inline-flex;
                }
            }

            .dateL {
                display: flex;
                align-items: center;

                &:before {
                    content: "";
                    width: 22px;
                    height: 26px;
                    background: url("../icons/case-study-date.svg") no-repeat center;
                    margin-right: 10px;
                    display: inline-flex;
                }
            }

            span {
                color: #00FBF4;
            }
        }
    }

    .metricsArea {
        display: flex;
        justify-content: center;
        gap: 250px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 40px 0;
        text-align: center;

        .playerMetric , .prizepoolMetric , .tournamentMetric, .impMetric {

            p {
                font-size: 40px;
                font-weight: bold;

                span {
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }
    }
    .slideGallery {
        .introContainer {
            width: 100%;
            height: 100%;
            margin: auto;
        }
        .swiper-container {
            width: 100%;
            background: rgb(10, 10, 11);
        }
        .swiper-slide {
            width: 500px;
            height: 100%;
            display: flex;
            margin: auto;
            align-items: center;
            justify-content: center;
            background: rgb(10, 10, 11);
        }
        .cards {
            width: 100%;
            height: auto;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
        }
        .card img {
            object-fit: cover;
            width: 600px;
            border-radius: 5px;
            max-width: 100%;
            height: auto;
            min-height: 50vh;
            padding: 0;
            margin: 0;
        }

        .card.two img {
            filter: sepia(100%) hue-rotate(190deg) saturate(300%);
        }
        .card.three img {
            height: 50vh;
        }
        .card.four img {
            filter: invert(4%) sepia(75%) saturate(500%) hue-rotate(356deg) brightness(70%) contrast(103%);
        }
        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0px;
            max-width: 100%;
            width: 500px;

        }

        .title-box {
            display: flex;
            text-align: left;
            max-width: 100%;
            flex-direction: column;
            flex-wrap: nowrap;
            position: absolute;
            top: 0;
            left: 50%;
            right: 0 !important;
            bottom: 50px;
            justify-content: center;
            color: #fff;
            opacity: 0;
            z-index: 15;
        }
        .title-box h1 {
            display: block;
            font-family: Benzin, 'sans-serif';
            font-weight: 700;
            line-height: normal;
            max-width: 100%;
            font-size: 3vmin;
        }
        .title-box p {
            font-family: Benzin, 'sans-serif';
            font-size: 1.5vmin;
            padding-top: 0;
            margin: 0;
            padding-left: 1%;
            max-width: 100%;
            font-style: italic;
        }
        .card .title-box .seperator {
            height: 1px;
            width:10%;
            background: white;
            position: absolute;
            content: "";
            left: -15%;
            top: 50%;
        }
        .swiper-slide .title-box{
            transform: translateX(-50%);
            transition: all .7s ease .3s;
        }
        .swiper-slide-active .title-box {
            transform: translateX(0%);
            opacity: 1;
            transition: all .7s ease;
        }

        .swiper-scrollbar {
            background: white;
        }

        .swiper-slide .card img {
            transition: filter .7s ease;
            filter: grayscale(100%);
        }
        .swiper-slide-active .card img {
            filter: grayscale(0%) brightness(60%);
        }

        .swiper-pagination-bullet-active {
            background: white !important;
            width: 25px !important;
            height: 5px !important;
            border-radius: 0 !important;
        }
        .swiper-pagination-bullet {
            background: whitesmoke !important;
            width: 25px !important;
            height: 5px !important;
            border-radius: 0!important;
        }

        .swiper-pagination {
            bottom: auto;
        }

        .swiper-arrows {
            width: 100%;
            height: 80px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 50%;
        }
        .swiper-button-prev,
        .swiper-button-next {
            width: 80px !important;
            height: 80px;
            background-image: none !important;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            bottom: 0;
            margin: 0;
            border-radius: 5px;
            transition: all 0.3s ease;
        }
        .swiper-button-prev {
            left: 0px !important;
            right: auto !important;
            background-color: rgba(255, 255, 255, 0.7);
        }
        .swiper-button-next {
            right: 0px !important;
            background-color: rgba(255, 255, 255, 0.8);
        }
        .swiper-button-prev span,
        .swiper-button-next span {
            width: 10px;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            position: absolute;
            border: solid 2px #666;
            border-left: 0;
            border-bottom: 0;
            transition: all 0.1s ease;
        }
        .swiper-button-prev span {
            transform: rotate(-135deg);
            left: 49%;
        }
        .swiper-button-next span {
            transform: rotate(45deg);
            right: 49%;
        }
        .swiper-button-prev:hover span,
        .swiper-button-next:hover span {
            width: 5px;
            height: 5px;
        }
        .swiper-button-prev:after,
        .swiper-button-next:after {
            width: 0px;
            height: inherit;
            content: "";
            position: absolute;
            border-radius: 5px;
            background-color: white;
            transition: all 0.4s ease-in-out;
            z-index: -1;
            opacity: 0.8;
        }
        .swiper-button-prev:after {
            right: 0;
        }
        .swiper-button-next:after {
            left: 0;
        }
        .swiper-button-prev:hover:after,
        .swiper-button-next:hover:after {
            width: inherit;
        }
        .swiper-button-disabled {
            opacity: 1 !important;
        }
        .swiper-button-disabled.swiper-button-prev span,
        .swiper-button-disabled.swiper-button-next span {
            opacity: 0.2;
        }
        @media screen and (max-width: 512px) {

        }
        .swiper-button-next::after, .swiper-container-rtl .swiper-button-prev::after {
            content: "attr" !important;
        }
        .swiper-button-prev::after, .swiper-container-rtl .swiper-button-prev::after {
            content: "attr" !important;
        }
    }
}

// max width
@media only screen and (max-width: 992px) {
    article.single-casestudy {

        .casebannerArea {
            padding-top: 50px;
        }

        .caseContentArea {
            column-count: 1;
        }

        .metricsArea {
            flex-direction: column;
            gap: 50px;
        }
        .slideGallery {
            .swiper-button-prev,
            .swiper-button-next {
                width: 60px;
                height: 60px;
                bottom: 0;
            }
            .swiper-arrows {
                height: 60px;
            }
            .swiper-button-prev {
                right: 60px;
            }
            .swiper-button-prev span {
                left: 45%;
            }
            .swiper-button-next span {
                right: 45%;
            }
        }
    }
}
