#application-form {
    div {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input, select, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
    .players-container {
        display: flex;
        justify-content: space-between;
    }

    .player {
        flex-basis: 22%; /* Her oyuncu için yüzde olarak genişlik ayarı */
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;

        legend {
            font-size: 12px;
        }
    }

    /* Form elemanları için stil (isteğe bağlı) */
    input[type="text"], input[type="email"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .buttonl-area {
        text-align: center;
        .buttonl {
            outline: none;
            border: 1px solid #ff6d00;
            border-radius: 5px;
            padding: 10px 20px;
            background-color: #FF6D00;
            color: white;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                box-shadow: rgba(255, 109, 0, 0.4) -5px 5px,
                rgba(255, 109, 0, 0.3) -10px 10px,
                rgba(255, 109, 0, 0.2) -15px 15px,
                rgba(255, 109, 0, 0.1) -20px 20px,
                rgba(255, 109, 0, 0.05) -25px 25px;
                transition: .3s ease-in-out;
            }

            &:focus {
                outline: none;
            }
        }
        .buttonl-coach {
            outline: none;
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 10px 20px;
            background-color: #fff;
            color: #FF6D00;
            cursor: pointer;
            transition: all 0.3s;

            &:focus {
                outline: none;
            }

            &:hover {
                border: 1px solid #FF6D00;
            }
        }

        label {
            a {

            }
        }

    }
    .gdprArea {
        .gdpr {
            color: #ff6d00;
            text-decoration: underline;
            transition: .3s all;

            &:hover {
                color: white;
                transition: .3s ease-in;
            }
        }
    }
}


// MAX WIDTH
@media only screen and (max-width: 992px) {
    #application-form {
        .players-container {
            display: block;
        }
    }
}
