.newsletterArea {
    .naText {
        text-align: center;

        h6.title {
            font-size: clamp(1.75rem, 4vw, 3rem);

        }
    }

    .naForm {
        text-align: center;
        padding-top: 50px;

        input[type=email] {
            font-family: "Benzin", sans-serif;
            background: transparent;
            outline: none;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid #5328F7;
            color: #ffffff;
            font-size: 16px;
            max-width: 250px;
            padding: 10px 0;
        }

        .naButton {
            font-family: "Benzin", sans-serif;
            background: #5328F7;
            border: none;
            color: #fff;
            font-size: 18px;
            border-radius: 33px;
            position: absolute;
            width: 113px;
            height: 40px;
        }
    }
}

// max width
@media only screen and (max-width: 992px) {
    .newsletterArea {
        .naForm {
            .naButton {
                position: inherit;
                display: block;
                margin: 0 auto;
                margin-top: 30px;
            }
        }
    }
}
