.ourGlobe {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 120px;
    padding-left: 120px;

    .ogArea {

        .ogMission{
            padding-bottom: 20px;

            h3.title {
                font-size: clamp(1.5rem, -0.9911rem + 4.0179vw, 2.625rem);
                padding-bottom: 20px;
            }
            p {
                font-size: 18px;
            }

            .ogStory {
                h3.title {
                    font-size: clamp(1.5rem, -0.9911rem + 4.0179vw, 2.400rem);
                    padding-bottom: 20px;
                }
                p {
                    font-size: 18px;
                    padding-bottom: 30px;
                }
            }
        }
    }

    .globePic {
        flex-shrink: 0;
    }
}


// max width
@media only screen and (max-width: 992px) {
    .ourGlobe {
        flex-direction: column;
        padding-left: 10px;

        .globePic {
            display: none;
        }
    }
}
