.partnerArea {

    .logoCarousel {
        width: 100%;
        overflow: hidden;
        height: 120px;

        .swiper-slide {
            width: 240px!important;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 2px ridge #f9f9f9;
            border-left: 2px solid #626262;
            position: relative;
            border-radius: 25px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
        }
    }
    .swiper-wrapper {
        -webkit-transition-timing-function:linear!important;
        -o-transition-timing-function:linear!important;
        transition-timing-function:linear!important;
    }
}
