.whereLocate {

    .lcWrap {

        .lcArea {
            display: flex;
            justify-content: space-between;

            h2.title {
                font-size: clamp(1.5rem, -0.9911rem + 4.0179vw, 2.625rem);
                font-weight: bold;
            }

            p {
                font-size: 18px;
                font-weight: lighter;
                max-width: 500px;
            }
        }
    }

    .lcAbout {

        .lcList {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;

            .lcItem {
                flex: 1 1 40%;
                display: flex;
                align-items: center;
                max-height: 300px;
                background-color: #AD13F8;
                border-radius: 40px;
                max-width: 100%;
                margin-bottom: 25px;

                .lcAboutText {
                    max-width: 300px;
                    padding-left: 30px;

                    h4.title {
                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: lighter;
                    }
                }

                .lcAboutImg {
                    transition: transform .3s ease;

                    img {
                        position: relative;
                        bottom: 30px;
                        transition: transform .3s ease;

                        &:hover {
                            transform: translate(0, -5px);
                            transition: transform .3s ease;
                            filter: drop-shadow(0 6mm 4mm rgb(160, 0, 210));
                        }
                    }
                }
            }
        }
    }
}

// max width
@media only screen and (max-width: 992px) {
    .whereLocate {
        .lcWrap {
            .lcArea {
                flex-direction: column;
                text-align: center;
            }
        }

        .lcAbout {
            .lcList {
                flex-direction: column;

                .lcItem {
                    margin-bottom: 0;
                    display: block;
                    flex: 0;
                    max-height: 100%;

                    .lcAboutText {
                        max-width: 100%;
                        padding-top: 20px;
                    }

                    .lcAboutImg {
                        text-align: center;

                        img {
                            position: inherit;
                        }
                    }
                }
            }
        }
    }
}

